mixin carousel(o)
	+b.carousel(class={'is-paged': o.paged, 'is-pager': o.pager})&attributes(attributes)
		+e.content
			if block
				block

		if o.controls
			+e.controls
				+e.prev
				+e.next

		if o.pager && o.pages
			+e.pager
				-var n = o.pages
				while n-- > 0
					+e.page(class={'is-active': n === o.pages - 1 ? true : false})
