.footer-cats
	text-align: center
	text-transform: uppercase

	.simple-menu__item
		&.active
			.simple-menu__link
				color: #176cd9


	.simple-menu__link
		color: #666
		display: inline-block
		padding: 4px 0
