.super-banner-carousel
	margin-bottom: 33px
	position: relative

	.carousel__prev
	.carousel__next
		position: absolute
		top: 50%
		transform: translate(0, -50%)
		width: 30px
		height: 50px
		line-height: 46px
		text-align: center
		background-color: rgba(0, 0, 0, 0.4)

		&:after
			content: ''
			display: inline-block
			vertical-align: middle
			width: $supercarousel_nav_next_width
			height: $supercarousel_nav_next_height

	.carousel__prev
		left: 0

		&:after
			sprite $supercarousel_nav_prev

	.carousel__next
		right: 0

		&:after
			sprite $supercarousel_nav_next

.super-banner-carousel-content
	&__item
		padding-bottom: 30.55%

		a
			display: block

		img
			display: block
