include ../carousel/carousel

mixin super-banner-carousel(o)
	+b.super-banner-carousel&attributes(attributes)
		+carousel({paged: true, pages: 4, controls: true, pager: false})
			+b.super-banner-carousel-content
				+e.item.embed-responsive
					a(href="#")
						img.embed-responsive-item(src="http://dummyimage.com/900x275/000/fff.png" alt="")
