mixin iconed-menu(list)
	ul.iconed-menu&attributes(attributes)
		each item in list
			li.iconed-menu__item
				a.iconed-menu__link(href=(item.url ? item.url : '#'))
					img.iconed-menu__icon(
						src=item.icon ? item.icon : "http://dummyimage.com/30x30/000/fff.png"
						alt=""
					)
					= item.name
