body
	font-family ptsans

+above(992px)
	.row-main
		> .col-md-3
			width 20%
		> .col-md-9
			width 80%

.title-2
	clearfix()
	font-size 28px
	color #000
	margin-bottom 20px

	a
		float right
		font-size 15px
		margin-top 18px

		&.anchor-to-goods
			color #016CDE
			font-family "PT Sans", sans
			font-size 16pt
			margin 0 0 0 25px
			float none
