mixin partners-list
	.partners-list&attributes(attributes)
		.row
			-var n = 0
			while n < (5 * 8)
				.col-xs-6.partners-list__item
					a(href="#")
						img.img-responsive(src="http://dummyimage.com/155x82/000/fff.png" alt="")
						- n++
