include ../super-banner-carousel/super-banner-carousel
include ../special-offers/special-offers
include ../partners-carousel/partners-carousel
include ../party-carousel/party-carousel

mixin index()
	.index
		+super-banner-carousel()

		.title-2
			| Участники акции
		+party-carousel()

		.title-2
			| Партнеры
		+partners-carousel()

		.title-2
			| Акции
			a(href="#")
				| Все акции
		+special-offers({})
