.content-container
	padding-top: 30px
	padding-bottom: 30px

.mnogoru-gift
	position: fixed
	right: -20px
	top: 130px
	z-index: 9999
	padding-left: 83px
	transition: margin ease 0.15s

	&.active
		margin-right: 360px

	& > img
		max-height: 132px
		top: 31px
		left: 0
		position: absolute
		z-index: 1

	a
		position: absolute
		top: 0
		left: 100%
		display: block
