- var pageScripts = pageScripts || [[], [], []];

include ../../../node_modules/bemto.jade/bemto.jade
include ../header-nav/header-nav
include ../left-sidebar/left-sidebar
include ../footer/footer
include ../scripts/scripts

+script([], [
	'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js',
	'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js',
	'https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js',
	'app.min.js'
])

doctype html
html(lang='ru')
	include ../head/head
	body
		+header-nav()
		.content-container.container
			.row.row-main
				.col-md-3
					+left-sidebar()
				.col-md-9
					block content
		+footer()

		+scripts()
