include ../load-more-btn/load-more-btn

mixin special-offers(o)
	.special-offers&attributes(attributes)
		.row
			-var n = 0
			while n < (o.count || 4)
				- n++
				.col-sm-6
					.special-offers__item
						a.special-offers__link.embed-responsive(href="#")
							img.special-offers__banner.embed-responsive-item(src="http://dummyimage.com/434x247/000/fff.png" alt="")
						if o.shop !== false
							a.special-offers__shop(href="#")
								img.special-offers__logo(src="http://dummyimage.com/69x42/000/fff.png" alt="")
								| К магазину

		if o.shop !== false
			+load-more-btn('Показать больше акций').special-offers__load-more-btn
