include ../carousel/carousel

mixin party-carousel(o)
	+b.party-carousel&attributes(attributes)
		+carousel({paged: true, pages: 4, controls: true, pager: true})
			+b.party-carousel-content
				-o = o || {}
				-var n = 0
				while n < (o.count || 7)
					+e.A.item(href="#")
						+e.SPAN.image-placeholder.embed-responsive
							+e.IMG.image.embed-responsive-item(src="http://dummyimage.com/210x130/000/fff.png" alt="")
							- n++
				-var n = 0
				while n < (o.count || 1)
					+e.SPAN.item
						+e.SPAN.image-placeholder.embed-responsive
							+e.IMG.image.embed-responsive-item(src="http://dummyimage.com/210x130/fff/fff.png" alt="")
							- n++
