.party-carousel
	position: relative

	.carousel__content
		box-shadow: 0 0 0 1px #efefef

	.carousel__controls
		{}

	.carousel__pager
		text-align: center
		margin-top: 19px

	.carousel__page
		display: inline-block
		text-align: center
		width: 16px

		&::after
			content: ''
			display: inline-block
			width: 8px
			height: 8px
			border-radius: 50%
			background-color: #e4e5e6
			transition: background-color 0.15s ease

		&.is-active
			&::after
				background-color: #0089ff

		&:hover
			&::after
				background-color: #83c6ff

	controlWidth = 27px
	.carousel.is-paged
		padding-left: controlWidth
		padding-right: controlWidth

	.carousel.is-pager
		.carousel__prev
		.carousel__next
			bottom: 38px

	.carousel__prev
	.carousel__next
		position: absolute
		top: 0
		bottom: 0
		width: controlWidth
		opacity: 0.25
		transition: opacity ease 0.15s

		&:hover
			opacity: 1

		&:after
			content: ''
			display: block
			position: absolute
			transform: translate(0, -50%)
			top: 50%
			width: $carousel_nav_next_width
			height: $carousel_nav_next_height

	.carousel__prev
		left: 0

		&:after
			sprite $carousel_nav_prev
			left: 0

	.carousel__next
		right 0

		&:after
			sprite $carousel_nav_next
			right: 0

.party-carousel-content
	clearfix()
	box-shadow: 0 0 0 1px #efefef

	&__item
		box-shadow: -1px -1px 0 #efefef
		width: 25%
		float: left
		min-height: 1px
		position: relative

	&__image-placeholder
		overflow: hidden
		display: block
		padding-bottom: 61.9%

	&__image
		{}
