include ../carousel/carousel

mixin partners-carousel(o)
	+b.partners-carousel&attributes(attributes)
		+carousel({paged: true, pages: 4, controls: true, pager: false})
			.row
				each val in ['148x17', '61x65', '152x31', '125x33', '118x30', '64x54']
					.col-xs-4.col-sm-2
						img.img-responsive(src="http://dummyimage.com/#{val}/000/fff.png" alt="")
