.partners-carousel
	margin-bottom: 40px
	padding: 25px 45px
	border-radius: 10px
	border: 1px solid #e8e8e8
	position: relative

	controlWidth = 27px
	.carousel__prev
	.carousel__next
		position: absolute
		top: 0
		width: controlWidth
		height: 100%
		opacity: 0.25
		transition: opacity ease 0.15s

		&:hover
			opacity: 1

		&:after
			content: ''
			display: block
			position: absolute
			transform: translate(0, -50%)
			top: 50%
			width: $carousel_nav_next_width
			height: $carousel_nav_next_height

	.carousel__prev
		left: 0

		&:after
			sprite $carousel_nav_prev
			left: 14px

	.carousel__next
		right 0

		&:after
			sprite $carousel_nav_next
			right: 14px
