include ../super-banner-carousel/super-banner-carousel
include ../party-carousel/party-carousel
include ../short-product/short-product
include ../special-offers/special-offers

mixin page-category()
	.page-category
		+super-banner-carousel()

		.title-2
			| Электроника и аксессуары
		+party-carousel({count:(4*2)}).page-category__party-carousel

		nav.tabs-navigation
			ul.tabs-menu
				li.tabs-menu-item.is-active
					a
						span
							| Акции
				li.tabs-menu-item
					a
						span
							| Лучшие товары

		.tab-panel
			.tab-pane.active#tab-special-offers(role="tabpanel")
				+special-offers({count:(2*4)})
			.tab-pane#tab-best-guts(role="tabpanel")
				.row
					-var n = 0
					while n < 8
						.col-xs-6.col-sm-4.col-md-4.col-lg-3
							+short-product({})
							- n++
