.page-category
	&__party-carousel
		margin-bottom: 38px

.tabs-navigation
	margin-bottom: 30px
	border-bottom: none

	.tabs-menu
		clearfix()
		list-style-type: none
		display: inline-block
		padding: 0
		border: 1px solid #e0e0e0
		border-radius: 3px

	.tabs-menu-item
		float: left
		user-select: none

		&:first-child.is-active
			box-shadow: inset -1px 0 0 #e5e5e8, inset -2px 0 0 #eaeaed

		&.is-active
			box-shadow: inset 1px 0 0 #e5e5e8, inset 2px 0 0 #eaeaed
			background-color: #f3f3f5

			> a:focus
			> a:hover
			> a
				color: #000

				span
					border-bottom: 1px dotted transparent

		> a
			display: block
			cursor: pointer
			margin-right: 0
			border-radius: 0
			padding: 4px 20px
			text-decoration: none
			font-weight: bold
			font-size: 19px

			span
				border-bottom: 1px dotted

		& + .tabs-menu-item
			border-left: 1px solid #dddde0
