.load-more-btn
	display: inline-block
	border: none
	padding: 15px 35px
	color: #016cde
	text-transform: uppercase
	font-weight: bold
	text-decoration: none
	text-align: center
	background-color: #f7f7f9
	font-size: 18px

	&:focus
	&:hover
		text-decoration: none

	&_disabled
	&[disabled]
		opacity: 0.5

	span
		border-bottom: 1px dotted

	&-placeholder
		text-align: center
