include ../simple-menu/simple-menu
include ../logo/logo
include ../share/share
include ../sidebar-cats/sidebar-cats
include ../short-product/short-product

mixin left-sidebar()
	.left-sidebar
		+logo()
		+share().left-sidebar__share
		+sidebar-cats().left-sidebar__sidebar-cats

		+b.categories-rus
			+e.title
				| Товары российского производства
			+simple-menu(getData('sidebarCats'))

		+b.teasers
			+e.title
				| Лучшие предложения
			+short-product({cat: false})
			+e('a').all(href="/actions#tab=2")
				| Все товары

		a.left-sidebar__banner(href="#")
			img(src="/static/images/left-sidebar__banner.png" alt="").img-responsive

		p.disclaimer.text-muted
			| Акции предоставлены магазинами-участниками.
			br
			| Фактическое наличие и цену товаров необходимо уточнять и требовать в магазине, разместившем предложение.
