.left-sidebar
	margin-bottom: 25px

	+above(992px)
		margin-bottom: 0

	&__sidebar-cats
		margin-bottom: 27px

	&__share
		text-align: center
		margin-bottom: 25px

		.share__title
			color: #777
			font-size: 14px
			margin-bottom: 5px

	&__banner
		img
			margin-right: auto
			margin-left: auto

.disclaimer
	line-height: 1.2
	margin-top: 25px

.teasers
	&__title
		text-align: center
		font-weight: bold
		font-size: 16px
		margin-bottom: 15px

	&__all
		display: block
		cursor: pointer
		margin-right: 0
		border-radius: 0
		padding: 4px 20px
		font-weight: bold
		font-size: 19px
		border: 1px solid #e0e0e0
		margin-bottom: 25px
		text-align: center

		&
		&:hover
		&:focus
			color: #000
			text-decoration: none

.categories-rus
	margin-bottom: 27px

	&__title
		text-align: center
		font-weight: bold
		font-size: 16px
		margin-bottom: 15px

	.simple-menu
		margin-top: 0
		border: none
		border-radius: 0
		box-shadow: none
		width: 100%
		background-color: #f7f7f7

		&__link
			color: #232323
			display: block
			padding: 6px 5px 6px 19px

			&:hover
				background-color: #efefef
				text-decoration: none
