include ../super-banner-carousel/super-banner-carousel
include ../special-offers/special-offers
include ../card-description/card-description
include ../load-more-btn/load-more-btn
include ../short-product/short-product

mixin page-card()
	.page-card
		+super-banner-carousel()

		+card-description()

		+special-offers({shop:false})

		.title-2
			| Лучшие товары

		.row
			-var n = 0
			while n < 8
				.col-xs-6.col-sm-4.col-md-4.col-lg-3
					+short-product({shop:false})
					- n++

		+load-more-btn('Показать больше товаров')
