mixin akit-copy
	+b('a').akit-copy(target="_blank" href="http://www.akit.ru")&attributes(attributes)
		+e('img').logo(src="/static/images/footer-copy.png" alt="retail hotline")
		| © 2015 Ассоциация компаний интернет-торговли
