.akit-copy
	pt = 10px
	pl = 56px
	color: #666
	font-size: 10px
	line-height: 1.2
	text-align: left
	width: 150px
	padding-top: pt
	padding-left: pl
	overflow: hidden
	display: inline-block

	&:hover
		text-decoration: none

	&__logo
		float: left
		margin-top: -(pt)
		margin-left: -(pl)
