include ../simple-menu/simple-menu

mixin sidebar-cats(isOpened)
	.sidebar-cats&attributes(attributes)
		.dropdown(class={'dropdown--active': isOpened})
			a(href="#").dropdown__trigger
				| Категории
			.dropdown__content
				+simple-menu(getData('sidebarCats'))
