include ../super-banner-carousel/super-banner-carousel
include ../short-product/short-product
include ../load-more-btn/load-more-btn

mixin page-russian()
	.page-russian
		+super-banner-carousel()

		.title-2
			| Российские товары

		.row
			-var n = 0
			while n < 8
				.col-xs-6.col-sm-4.col-md-4.col-lg-3
					+short-product({})
					- n++

		+load-more-btn('Показать больше товаров')
