head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='imagetoolbar' content='no')
	meta(name='msthemecompatible' content='no')
	meta(name='cleartype' content='on')
	meta(name='HandheldFriendly' content='True')

	meta(name='format-detection' content='telephone=no')
	meta(name='format-detection' content='address=no')

	meta(name='google' value='notranslate')

	meta(name='apple-mobile-web-app-capable' content='yes')
	meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

	link(rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png")
	link(rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png")
	link(rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png")
	link(rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png")
	link(rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png")
	link(rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png")
	link(rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png")
	link(rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png")
	link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png")

	link(rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32")
	link(rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194")
	link(rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96")
	link(rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192")
	link(rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16")

	link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5")

	meta(name="msapplication-TileColor" content="#2b5797")
	meta(name="msapplication-TileImage" content="/mstile-144x144.png")

	meta(name="theme-color" content="#ffffff")

	link(rel='manifest' href='/manifest.json')

	meta(name='application-name' content=pageTitle || '')
	meta(name='msapplication-tooltip' content=pageDescription || '')

	//- http://realfavicongenerator.net/faq#why_ico_not_declared

	block head
	title= pageTitle || ''
	meta(name='description' content=pageDescription || '')
	meta(name='keywords' content=pageKeywords || '')

	link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css" rel="stylesheet")
	link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet')
	link(href='/static/styles/app.min.css?t=' + timestamp rel='stylesheet')

	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
