include ../footer-cats/footer-cats
include ../icon/icon
include ../akit-copy/akit-copy

mixin footer()
	+b.footer
		.container
			.row
				+e.social.col-xs-6.col-sm-4
					.footer-social
						.footer-social__title
							| Официальные группы<br>в соц.сетях
						.footer-social__list
							// TODO: Social
							a(href="#" target='_blank')
								+icon('social-vk')
							a(href="#" target='_blank')
								+icon('social-fb')
					.footer-mnogo-left
						a(href="http://www.mnogo.ru/new_anketa/name.html?range=1051" target="_blank")
							img(src="/static/images/footer-mnogo-1.jpg" alt="")

				+e.navigation.col-xs-6.col-sm-4
					+footer-cats()
					.footer-mnogo-center
						a(href="http://www.mnogo.ru/new_anketa/name.html?range=1051" target="_blank")
							img(src="/static/images/footer-mnogo-2.jpg" alt="")

				+e.copyright.col-xs-6.col-xs-offset-6.col-sm-4.col-sm-offset-0
					.footer-copy__placeholder
						.footer-copy
							+akit-copy()

							.footer-mnogo-right
								span
									| При поддержке программы:
								a(href="http://www.mnogo.ru/business/" target="_blank")
									img(src="/static/images/footer-mnogo-3.jpg" alt="")
								img(src="/static/images/footer-qiwi.png" alt="")
