mixin short-product(o)
	.short-product
		a.short-product__link(href="#")
			.short-product__preview
				img.img-responsive(src="http://dummyimage.com/180x150/000/fff.png" alt="")
			.short-product__name
				| Зеркальный фотоаппарат Canon EOS 600D
			if o.cat !== false
				.short-product__cat
					| Электроника и аксессуары
			.short-product__price
				del.price.price_old
					span.price__cost
						| 127&nbsp;999
					span.price__currency
						| руб.
				.price.price_theme_normal
					span.price__cost
						| 122&nbsp;599
					span.price__currency
						| руб.
		if o.shop !== false
			a.short-product__shop(href="#")
				img.short-product__logo(src="http://dummyimage.com/69x42/000/fff.png" alt="")
