mixin paysys
	.paysys&attributes(attributes)
		.paysys__label
			| Этот магазин использует:
		.paysys__list
			img(src="http://dummyimage.com/20x24/000/fff.png" alt="")
			img(src="http://dummyimage.com/32x20/000/fff.png" alt="")
			img(src="http://dummyimage.com/34x20/000/fff.png" alt="")
			img(src="http://dummyimage.com/65x21/000/fff.png" alt="")
			img(src="http://dummyimage.com/22x22/000/fff.png" alt="")
