include ../super-banner-carousel/super-banner-carousel
include ../partners-list/partners-list

mixin page-partners()
	.page-partners
		+super-banner-carousel()

		.title-2
			| Партнеры
		+partners-list()
