include ../simple-menu/simple-menu

mixin header-nav()
	nav.navbar.header-nav
		.container
			.navbar-header
				button.navbar-toggle.collapsed(
					type="button"
					data-toggle="collapse"
					data-target="#header-nav-cats"
					aria-expanded="false"
				)
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.navbar-collapse.collapse#header-nav-cats
				.row.row-main
					.col-sm-3.col-md-3
						.header-menu
							ul.simple-menu
								each item in getData('headerMenu')
									li.simple-menu__item
										a(href=(item.url ? item.url : '#')).simple-menu__link
											= item.name
					.col-sm-9.col-md-9
						.header-cats
							+simple-menu(getData('headerCats'))
	.header-nav__placeholder
