.card-description
	margin-bottom: 33px
	padding: 17px
	background: #f8f8f8 url(../images/card-description-bgr.png) 100% 0 no-repeat

	&__logo
		display: block
		margin-bottom: 10px

		+above(768px)
			margin-bottom: 0

	&__title
		margin-top: 0
		margin-bottom: 17px
		font-weight: bold
		font-size: 28px

		a
			display: inline-block
			text-decoration: none
			color: inherit

			&:after
				content: ''
				display: inline-block
				width: 16px
				height: 16px
				background: url(../icons/card-description-link.png) 0 0 no-repeat
				margin-left: 0.3em

	&__desc
		font-size: 15px

		> *:first-child
			margin-top: 0

		&.collapsed
			height: 6em
			overflow: hidden
			position: relative

			&:after
				display: block
				content: 'Развернуть'
				position: absolute
				bottom: 0
				left: 0
				width: 100%
				color: #666
				height: 1.75em
				line-height: 1.7em
				background-color: #fff
				border: 1px solid #e5e5e5
				text-align: center
				cursor: pointer

	&__paysys
		margin-top: 5px
		padding-top: 15px
		border-top: 1px solid #e5e5e5
